.main, .main-form {
  width: 100%;
  margin: 40px auto;
  max-width: 920px;
}

/* --- Navbar --- */
.Navbar {
  padding: 10px 20px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  background-color: white;
  z-index: 1;
}

.Navbar .image {
  width: 30%;
  max-width: 120px;
}

.Navbar .image img {
  width: 100%;
}


.menu .list-item > a {
  text-decoration: none;
  color: black;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar .menu .link{
  margin-left: 10px;
}





.header {
  position: relative;
  width: 100%;
  height: 30vh;
  margin-bottom: 20px;
}


.header .image-heade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.header .image-heade img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.header .picture-text{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .picture-texth1 {
  color: #60d600;
  background-color: #F500F9;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
}


.progreess {
  border: 1px solid #000;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 2.5px;
}

.slist {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.slist .skill {
  width: 100%;
}

.progreess .pbar {
  background-color: #D60021;
  height: 100%;
  border-radius: 10px;
}

.move-pbar {
  animation: increaseProgressBar 3s forwards;
}

.w100 {
  max-width: 100%;
}

.w50 {
  max-width: 50%;
}

.w75 {
  max-width: 75%;
}

.w15 {
  max-width: 15%;
}

@keyframes increaseProgressBar {
  0% {
    width: 0%;
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100%;
  }
}

h1,h2 {
  font-style: italic;
  font-size: 1.5rem;
}

footer {
  background-color: blue;
  font-style: italic;
}


footer {
  font-style:italic;
  background-color: #4c4ae6;
  text-align: center;    
  font-size: 2rem; 
}


.container {
background-color: blue;
width: 100%;
height: 60vh;
display: flex;
justify-content: start;
align-items: end;
flex-wrap: wrap;
}

.item {
background-color: red;
height: 80px;
width: 80px;
margin: 20px;
}






.main-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.form-group .text-label {
  margin-bottom: 5px;
  font-weight: 700;
}

.form-group .radio-group {
  display: flex;
  margin: 10px 0;
}

.form-group input, .main-form textarea {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
}

.instg {
  width: 60%;
  max-width: 220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer .link svg {
  max-width: 30px;
}

.footer svg {
  width: 100%;
  transition: fill .3s linear;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s;
  overflow: hidden;
  background: var(--border-color);
  z-index: 0;
}
.desktop {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 150px;
  right: -150px;
  background-color: var(--bg-color);
  transition: right .15s linear;
  z-index: 1;
}

.menu li {
  padding: 10px;
}

#hamburger-input {
  visibility: hidden;
}

#hamburger-input:checked + #hamburger-menu .menu {
  right: 0;
}

#hamburger-input:checked + #hamburger-menu .overlay{
  visibility: visible;
  opacity: 0.4;
}

.menu .list-item > a {
  text-decoration: none;
  font-weight: 700;
  color: var(--main-text-color);
  transition: color .3s linear;
}

@media screen and (min-width:450px) {
  .Navbar .menu {
    display: flex;
  }
}



@media screen and (min-width:450px) {
  .Navbar .menu {
    display: flex;
  }
}



